table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

table,
th,
td {
	border: 1px solid #dee2e6;
	border-spacing: 0; /* Pastikan tidak ada jarak antar sel tabel */
}

th,
td {
	padding: 12px;
	text-align: left;
	vertical-align: middle; /* Pastikan teks di dalam sel tabel tidak terjepit */
}

th {
	background-color: #f8f9fa;
	color: #333;
	font-weight: bold;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

#limit-supermatrix-table {
	width: 100%; /* Pastikan tabel menggunakan lebar penuh container */
}

#limit-supermatrix-table th,
#limit-supermatrix-table td {
	padding: 12px;
	text-align: center; /* Sesuaikan teks tabel ke tengah untuk tampilan yang konsisten */
}

#limit-supermatrix-table th {
	background-color: #007bff;
	color: #ffffff;
}

#limit-supermatrix-table tr:nth-child(even) {
	background-color: #f8f9fa;
}

#limit-supermatrix-table tr:hover {
	background-color: #e2e6ea;
}
